# === Java / Maven / Spring Boot ===
/auth-service/target/
*.class
*.log
*.jar
*.war
*.nar
*.ear

/task-service/target/
*.class
*.log
*.jar
*.war
*.nar
*.ear
/friend-service/target/
*.class
*.log
*.jar
*.war
*.nar
*.ear

# === Node / React ===
/frontend/node_modules/
/frontend/build/
/frontend/.env.local
/frontend/.vscode/
/frontend/.idea/

# === General OS / Editor cruft ===
.DS_Store
Thumbs.db

# === Env files ===
.env
*.env

# === Crash logs ===
hs_err_pid*
replay_pid*

__pycache__/
*.pyc


*/venv/

*.pkl
